@use "../base/variables";
@use "../components/button";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;0,800;1,800&display=swap");

.profile {
  margin: 80px auto;
  align-items: center;
  text-align: center;

  &__title {
    font-size: 3em;
    word-spacing: 5px;
    color: variables.$title-color;
    font-family: sans-serif;
    font-weight: normal;
    margin-bottom: 40px;
    font-family: variables.$global-font-family;
  }

  &__user {
    margin-right: 20px;
    padding: 15px;
    width: 200px;
    height: auto;
    border-radius: 10px;
    border: 2px solid variables.$lavender;
    cursor: pointer;
  }

  p {
    color: variables.$title-color;
    font-family: variables.$global-font-family;
  }

  &__card {
    text-align: center;
    display: inline-block;
  }

  &__plus {
    width: 190px;
    color: red;
  }

  &__img {
    width: 190px;
    border-radius: 5px;
  }

  .profile:hover {
    border: 2px solid variables.$title-color;
    border-radius: 5px;
  }

  button {
    color: variables.$light-grey;
    background-color: variables.$button-background-color;
    border: transparent;
    border-radius: 2px;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 600;
    font-family: variables.$global-font-family;

    &:hover {
      background-color: variables.$hover-button-background-color;
      transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
      cursor: pointer;
    }
  }
}
