@use "../base/variables";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;0,800;1,800&display=swap");

.profile {
  margin: 20% 0% 0% 20%;
  display: table;

  &__title {
    font-size: 3em;
    word-spacing: 5px;
    text-align: center;
    color: variables.$title-color;
    font-family: sans-serif;
    font-weight: normal;
    margin-bottom: 40px;
    font-family: variables.$global-font-family;
  }

  &__user {
    margin-right: 20px;
    padding: 15px;
    width: 200px;
    height: auto;
    border-radius: 10px;
    border: 2px solid variables.$lavender;
  }

  p {
    color: variables.$title-color;
    font-family: variables.$global-font-family;
  }

  &__card {
    text-align: center;
    display: inline-block;
  }

  &__plus {
    width: 223px;
    color: red;
  }

  &__img {
    width: 190px;
    border-radius: 5px;
  }

  .profile:hover {
    border: 2px solid variables.$title-color;
    border-radius: 5px;
  }

  &__button {
    margin-top: 40px;
    color: gray;
    background-color: variables.$background-color;
    border: 2px solid gray;
    width: 150px;
    height: 40px;
    font-family: variables.$global-font-family;
    display: table;
  }

  button:hover {
    border: 2px solid variables.$title-color;
    color: variables.$title-color;
  }
}

/*@media screen and (max-width:520px) {

   .card{
     display: table;
     margin: auto;
   }
  
   .card + .card {
    margin-left: auto;
  }
  
  }
  
// Media query
@media (max-width: 768px) {
  .logo {
    margin-top: 15px;

    & img {
      height: 36px;
    }
  }

  header {
    margin-bottom: 50px;
  }

  .list-profile-title {
    font-size: 2em;
    margin-bottom: 20px;
  }

  .profile {
    width: 150px;
  }

  p {
    font-size: 0.8em;
  }

  .card {
    display: block;
    margin: 10px auto;
  }

  button {
    margin-top: 20px;
    width: 120px;
    height: 36px;
  }
}
*/
