@use "../base/variables";

.moviesHome, .seriesHome {
  width: 100%;
  height: auto;
  padding: 12px 120px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 10px 0px;

  &__listName {
    color: variables.$light-grey;
    font-size: 28px;
    position: absolute;
    padding-left: 30px;
  }

  &__item {
    width: 250px;
    background-repeat: no;
    height: 350px;
    border-radius: 20px;
    padding-bottom: 400px;
    margin-top: 70px;
    display: inline-block;
    cursor: pointer;
    -webkit-transition: 1000ms all;
    transition: 1000ms all;
    position: relative;

    &:hover {
      opacity: 0.6;
      transform: scale(1.1);
      transition: transform 0.3s ease;
      transform-origin: center center;
    }
  }

  &__poster {
    width: 250px;
    height: 350px;
    border-radius: 20px;
  }

  &__itemDetails {
    background: -webkit-gradient(
      linear,
      left bottom,
      left top,
      from rgb(0, 0, 0),
      to(rgba(0, 0, 0, 0))
    );
    background: linear-gradient(to top, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
    font-size: 0.8rem;
    opacity: 0;
    -webkit-transition: 450ms opacity;
    transition: 450ms opacity;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 280px;
    padding-left: 14px;
    padding-right: 14px;
    &:hover {
      opacity: 1;
    }
  }

  &__itemDetails,
  &__title {
    width: 250px;
    color: variables.$title-color;
    margin: 0;
    text-align: left;
    border-radius: 20px;
  }
}

//responsive
.carousel_container {
  overflow: auto;
  white-space: nowrap;
  width: 100%;
}

.moviesHome .carousel_container .seriesHome {
  white-space: nowrap;
  display: inline-block;
}
