@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;0,800;1,800&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  background-color: #1d1d1d;
  color: #e8e8e8;
  //#9d94bf;
}

.welcome__banner {
  width: auto;
  padding: 32px 0;
  margin: 0;

  .intro {
    width: auto;
    height: 700px;
    padding: 0px 20px;
    text-align: center;
    background-image: url("./assets/popcorn.png");
    background-size: cover;
    height: 460px;

    &__h {
      padding-top: 7rem;
      font-weight: 900;
      font-size: 2.5rem;
      text-shadow: rgb(0, 0, 0) 5px 0 10px;
    }
    &__p {
      font-weight: 900;
      font-size: 1.2rem;
      text-shadow: rgb(0, 0, 0) 5px 0 10px;
    }
    .intro__form {
      font-weight: 900;
      text-align: center;

      input {
        color: rgb(255, 255, 255);
        background-color: rgba(0, 0, 0, 0.63);
        border: transparent;
        border-radius: 2px;
        padding: 1rem;
        font-size: 1rem;
        font-family: "Montserrat", sans-serif;
      }
      button {
        color: #e8e8e8;
        background-color: #9d94bfec;
        border: transparent;
        border-radius: 2px;
        padding: 1rem;
        font-size: 1rem;
        font-weight: 600;
        font-family: "Montserrat", sans-serif;

        a {
          text-decoration: none;
          color: #e8e8e8;
        }
        &:hover {
          background-color: #9d94bf;
          transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
          cursor: pointer;
        }
      }
    }
  }
  .screens {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-align: left;
    padding: 80px;
    div {
      &__h {
        font-weight: 900;
        font-size: 2.5rem;
      }
      &__p {
        font-weight: 400;
        font-size: 1.2rem;
      }
    }

    &__img {
      height: 450px;
      width: auto;
    }
  }
}
/*Media queries for mobile and tablet
@media (max-width: 768px) {
  .intro {
    height: auto;
    background-size: contain;
    padding: 20px;
  }

  .intro .intro-h {
    padding-top: 2rem;
    font-size: 2rem;
  }

  .intro .intro-p {
    font-size: 1rem;
  }

  .intro-form {
    & input,
    & button {
      padding: 0.5rem;
      font-size: 0.8rem;
    }
  }

  .screens {
    & .screens-h {
      font-size: 2rem;
    }
    & .screens-p {
      font-size: 1rem;
    }
    & .screens-img {
      height: auto;
      width: 100%;
    }
  }
}
*/
