@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;0,800;1,800&display=swap");

// Fonts
$global-font-family: "Montserrat", sans-serif;

// Colors

$light-grey: #e8e8e8;
$lavender: #9d94bf;
$input-color: rgb(255, 255, 255);
$title-color: #fff;

// Background colors
$navbar-background-color: #1d1d1d;
$background-color: rgba(0, 0, 0, 0.63);
$button-background-color: #9d94bfc0;
$hover-button-background-color: #9d94bfec;
