@use "../base/variables";

.footer {
  display: grid;
  grid-column: 1 / 3;
  justify-content: space-around;
  justify-items: center;

  &__title {
    text-align: center;
    font-family: variables.$global-font-family;
    color: variables.$lavender;
    font-size: 18px;
    line-height: 1.5;
  }
  button {
    color: variables.$light-grey;
    background-color: variables.$button-background-color;
    border: transparent;
    border-radius: 2px;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 600;
    font-family: variables.$global-font-family;

    &:hover {
      background-color: variables.$hover-button-background-color;
      transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
      cursor: pointer;
    }
  }
}

// TODO : continuer style footer
